<!-- to make header -->
<app-header></app-header>

<h1>{{title}}</h1>
<br>
<button (click)="getData('Jay')">Get Name</button>
<input type="text" #id (keyup)="getData(id.value)">

<h1 (mouseover)="getData('mouse hovered')">Hello</h1>
<br>
<input type="text" #id1 placeholder="Enter a Name">
<!-- we can also get value of placeholder and name by replacing .value -->
<button (click)="getVal(id1.value)">Click</button>
<br> <br>
<p>The Name Entered is : {{display}}</p>

<h1 class="heading">This is Heading</h1>

<app-login></app-login>


<!-- property binding and interpolation -->
<!-- property binding can take boolean values and interpolation takes string and num only -->

<input type="text" disabled="{{disable}}" value="{{name}}">
<br><br>
<input type="text" [disabled]=disable [value]=name>


<!-- if else statement -->

<h1 *ngIf="show =='Jay'; then ifloop else elseloop"></h1>

<ng-template #ifloop>
  <h1>It is Jay</h1>
</ng-template>

<ng-template #elseloop>
  <h1>It is not Jay</h1>
</ng-template>

<!-- multiple if statement -->
<ng-template [ngIf]="color=='red'">
  <h1 style="color: red;">Red Color</h1>
</ng-template>
<ng-template [ngIf]="color=='green'">
  <h1 style="color: green;">Green Color</h1>
</ng-template>
<ng-template [ngIf]="color=='blue'">
  <h1 style="color: blue;">Blue Color</h1>
</ng-template>

<!-- switch case -->

<div [ngSwitch]="colors">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
  <h1 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h1>
  <h1 *ngSwitchCase="'pink'" style="color: pink;">Pink Color</h1>
  <h1 *ngSwitchDefault>Unknown Color</h1>
</div>

<br>
<br>

<!-- for loop -->

<div *ngFor="let details of users, let i = index">
  <h3>Names: {{details}}</h3>
  <h2>{{i}}</h2>
</div>

<br>

<div *ngFor="let data of userData">
  id:{{data.id}} -- name:{{data.name}} -- email:{{data.email}}
</div>

<!-- nested loop -->

<ul *ngFor="let emp of empData">
  <li>{{emp.name}}</li>
  <li>{{emp.id}}</li>
  <li>{{emp.email}}</li>
  <li>Social Accounts:</li>

  <ul *ngFor="let acc of emp.socialaccounts">
    <li>{{acc}}</li>
  </ul>
</ul>

<!-- basic form -->

<h2>Basic Form</h2>
<form #form="ngForm" (ngSubmit)="getForm(form.value)">
  <input type="text" ngModel name="name" placeholder="Enter Name">
  <br> <br>
  <input type="text" ngModel name="email" placeholder="Enter Email">
  <br> <br>
  <input type="text" ngModel name="password" placeholder="Enter Password">
  <br> <br>
  <button>Register</button>
</form>

<!-- to display form data -->

<h2>{{formData.name}}</h2>
<h2>{{formData.email}}</h2>
<h2>{{formData.password}}</h2>

<!-- hide html element -->

<h1>Toggle Display</h1> <br>
<button (click)="toggle()">Toggle</button>
<p *ngIf="Newdisplay">Display</p>

<mat-card>Simple card</mat-card>

<!-- parent child data transfer -->

<app-child [item]="data"></app-child>

<app-child #container [file]="filee"></app-child>

<button (click)="update()">Update Child Component</button>

<!-- two way data binding -->

<br><br>
<h2>Two way data Binding</h2>
<input type="text" [(ngModel)]="binding">
<h2>{{binding}}</h2>

<!-- ngfor -->

<div *ngFor="let color of colorss; index as i;let lst = last; let fst = first;">
  <h2><span *ngIf="fst">First</span><span *ngIf="lst">Last</span> {{i}} {{color}}</h2>
</div>

<!-- login form template-->

<form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
  <input type="text" placeholder="Enter Name" name="name" ngModel> <br> <br>
  <input type="text" placeholder="Enter pASSWorD" name="password" ngModel> <br> <br>
  <button>Login</button>
</form>

<!-- view child -->

<div #container>This is my div</div>

<!-- service called in 2 components-->

<ul>
  <li *ngFor="let user of file">
    {{user.users}} | {{user.age}} | {{user.email}}
  </li>
</ul>

<br><br><br><br>
<app-footer></app-footer>



